html,
body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --primary: #3a335e;
    --light-primary: #68637e;
    --secondary: #4f7692;
    --red: #b61417;
    max-width: unset;
}
body {
    box-sizing: border-box;
    padding: 0 1.5vw;
}
ul {
    list-style: none;
    padding: 0 !important;
}
button:disabled {
    background: var(--light-gray) !important;
    cursor: initial;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
